.under {
    .und_flow  {
        .box_container {
            &:last-child {
                .design_arr {
                    .arr_f {
                        &::after {
                            display: none;
                        }
                    }
                    .arr_sc {
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .txt_clr {
        color: var(--main-color2);
        font-size: 1.25em;
    }

    .box_ct {
        .txt_left {
            text-align: left;
        }
    }

    .txt_udl {
        position: relative;
        color: var(--bl-cl);
        &::before {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: var(--bl-cl);
            bottom: -2px;
            left: 0;
        }
    }

    .link_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
        &.col2 {
            >div {
                width: 48%;
                max-width: 418px;
                
            }
        }
        &.col3 {
            >div {
                width: calc(calc(100% / 3) - 20px);
            }
        }
        img {
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);  
        }
    }
    ul {
        &.list03 {
            li {
                font-size: 18px;
                padding-left: 2.222222222222222em;
                padding-bottom: 1.388888888888889em;
                position: relative;
                counter-increment: numb;
                &::before {
                    content: counter(numb);
                    position: absolute;
                    top: -0.1875em;
                    left: 0;
                    width: 1.875em;
                    height: 1.875em;
                    border-radius: 50%;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 1px;
                    font-size: 0.8888888888888889em;
                    background-color: var(--bl-cl);
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .under {
        ul {
            &.list03 {
                li {
                    font-size: 16px;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .under {
        .link_box {
            flex-direction: column;
            align-items: center;
            &.col2 {
                >div {
                    width: 85%;
                }
            }
            &.col3 {
                >div {
                    width: auto;
                    max-width: 85%;
                }
            }
        }
    }
}

