h1 {
	font-size: 10px;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	z-index: 20;
}

.under header,
header.active,
.ovh header {


	background-color: #244786;

	.logo {
		.main {
			display: none;
		}

		.ov {
			display: block;
		}
	}

	.header_top {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.logo img {
		max-height: calc(var(--wrapper) - 10px);
	}
}

.header_top {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	justify-content: center;
	margin: 0 auto;
	padding: 10px 20px;
	height: var(--wrapper);
	transition: all 0.3s ease-in-out;
}

.logo {
	width: 50%;
	max-width: 477px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		display: block;
		width: 100%;
		text-align: center;
	}

	.ov {
		display: none;
	}

	.main {
		display: block;
	}

	img {
		transition: all .3s;
	}
}

.right_head {
	width: 76%;
	max-width: 864px;
	padding-right: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.pc_navi {

	width: 100%;

	display: flex;
	align-items: center;

	.inner_big {
		width: 100%;

		>ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			text-align: center;
			width: 100%;


			>li {
				position: relative;

				>p {
					&::after {
						content: "";
						background: url(../images/shared_pc_navi_arrow.png) center no-repeat;
						background-size: 100% auto;
						width: 9px;
						height: 5px;
						position: absolute;
						bottom: 0px;
						left: calc(50% - 4.5px);
						transition: all 0.5s ease;

						/*border-color: #fff transparent transparent transparent;
					border-style: solid;
					border-width: 6px 6px 0px 6px;
					width: 0;
					height: 0;*/
					}
				}

				>a,
				>p {
					position: relative;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					margin: 0;
					height: 40px;
					text-decoration: none;
					text-align: center;
					font-weight: 400;
					font-size: 18px;
					line-height: 1.5;
					letter-spacing: 0.2em;

					transition: all 0.2s ease;
					color: #fff;

					&:hover {
						opacity: 0.8;

					}

					span {
						display: block;
						width: 100%;
						padding-top: 0px;
						font-size: 66.66666666666667%;
						font-weight: 600;
					}


				}

				&:hover {

					a,
					p {
						&.title {
							&::after {
								transform: translateY(5px);
							}
						}
					}
				}
			}

			.subInner {
				position: absolute;
				width: 220px;
				right: 50%;
				bottom: -15px;
				padding-top: 0px;
				transform: translate(50%, 100%);
				transition: all 0.2s ease-in-out;
				opacity: 0;
				visibility: hidden;
				z-index: 1;

				&.active {
					opacity: 1;
					visibility: visible;
				}

				ul {
					background-color: var(--main-color);
					padding-bottom: 10px;

					li {
						padding: 0 10px;

						a {
							position: relative;
							display: block;
							padding: 19px 10px 19px 28px;
							border-bottom: 1px dashed rgba(255, 255, 255, 0.7);
							transition: all 0.2s ease;
							font-size: 14px;

							color: #fff;
							text-decoration: none;
							text-align: left;


							&::before {
								content: "\203A";
								display: block;
								position: absolute;
								top: 50%;
								left: 10px;
								transform: translateY(-54%);
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}


}

.under .wrapper {

	.key {
		margin-top: var(--wrapper);

	}
}

@media only screen and (min-width: 769px) {
	.key .pc_navi {
		position: absolute;
		left: 0;
		bottom: 0;

		height: calc(var(--wrapper) + 20px);
		background-color: rgba($color: #183d80, $alpha: 0.95);
	}

	.right_head {
		opacity: 0;

		position: absolute;
	}

	.under header,
	header.active {
		position: fixed;
		height: var(--wrapper);

		.right_head {
			opacity: 1;

			position: relative;
		}

		.header_top {

			justify-content: space-between;
		}

		.logo {
			width: 22%;
			max-width: 294px;

		}

		.right_head {
			max-width: 1800px;
		}
	}




	.pc_navi>ul .col2 {
		.subInner {
			width: 440px;

			ul {
				display: flex;
				flex-wrap: wrap;

				li {
					width: 50%;
				}
			}
		}
	}

	.menu_toggle .inside .ft_link {
		width: 100%;
		max-width: 1190px;
		margin: auto;
		min-height: 100%;
		display: flex;
		align-items: center;

		.link_list {
			width: 100%;
		}
	}
}

@media only screen and (min-width: 769px) and (max-width: 1800px) {

	.under header,
	header.active {

		.pc_navi .inner_big>ul>li>a,
		.pc_navi .inner_big>ul>li>p {
			font-size: 1vw;
		}
	}

	.right_head {
		padding-right: var(--wrapper);
	}
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
	:root {

		--wrapper: 70px;
	}

	.header_top {
		padding-left: 10px;
		padding-right: 10px;
	}

	.pc_navi {
		height: 7.5vw;
	}

	.under header,
	header.active {
		.pc_navi {
			height: 100%;

			.inner_big {
				padding: 0;

				>ul>li>a,
				>ul>li>p {
					font-size: 1.2vw;
					letter-spacing: 0.1em;
				}
			}

		}
	}

	.pc_navi {


		.inner_big {
			>ul {
				>li {

					>a,
					p {}
				}

				.subInner {
					ul {
						li {
							a {
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
	:root {

		--ttl_size: 22px;
		--wrapper: 70px;
	}

	.pc_navi .inner_big>ul>li>a,
	.pc_navi .inner_big>ul>li p {
		font-size: 1.5vw;
	}
}

footer {
	//dattq

	position: relative;
	padding: 67px 0 71px;
	background-image: url(../images/ft_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&::before {
		@include before;
		top: 0;
		left: 0;
		width: 100%;
		height: 6px;
		background-color: #177aad;

	}

	p {
		margin-bottom: 0;
	}

	p,
	a {
		color: #fff;
		text-decoration: none;

	}

	.ft_logo {
		padding: 0px 0 30px;
	}

	.ft_link {
		width: 100%;
	}
}



.ft_link {
	font-size: 10px;


	@include screen('min769') {
		.link_list {
			.menu01 {
				width: 61%;

				>ul {
					max-height: 73em;

					>li {
						width: 54%;

						&:nth-child(n + 9) {
							max-width: 301px;
							width: 44%;
						}
					}
				}
			}

			.menu02 {
				width: 37%;

				ul {

					li {
						width: 100%;
					}
				}
			}
		}
	}


	.link_list>div>ul {
		display: flex;
		flex-flow: column wrap;
		align-content: space-between;

		>li {
			width: 50%;
		}
	}

	.ttl {
		margin-bottom: 41px;
		padding-left: 0;
		font-size: calc(var(--ttl_size) + 14px);
		font-weight: 400;
		letter-spacing: 0.1em;
		color: #1e5f97;
		line-height: 1;
		pointer-events: none;
		font-family: var(--f-en);

		&::before {
			display: none;
		}
	}

	ul {

		&:last-child {
			margin-bottom: 0;
		}
	}

	li {
		margin-bottom: 1.6em;
		line-height: 1.5;
		color: var(--clr1);
		display: table;

		span {
			display: block;
		}

		&.ct-space {
			ul {
				margin-top: 1.35em;
			}
		}

		&.last {
			margin-bottom: 29px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&.lv li {

			a {
				font-size: 1.4em;
				color: #676767;

				&:hover {
					opacity: 1;
					color: var(--main-color);

				}

				&::before {
					background-color: #59a9d2;
				}
			}
		}

		&.lv>ul>li {
			margin-bottom: 1.1em;


			&.ct-space {
				margin-bottom: 2.6em;
			}



			margin-left: 1.7em;

			>a {
				padding-left: 1.2em;


				&:before {
					top: .5714em;
					left: 0;
					width: 0.7143em;
					height: 0.4285em;
					--mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 91 51' %3E%3Cpath d='M61.278,50.711 L53.666,42.611 L67.434,31.015 L0.148,31.015 L0.148,19.949 L67.434,19.949 L53.666,8.354 L61.278,0.253 L90.409,25.482 L61.278,50.711 Z'/%3E%3C/svg%3E");
					mask-image: var(--mask);
					-webkit-mask-image: var(--mask);
					mask-repeat: no-repeat;
					-webkit-mask-repeat: no-repeat;
					mask-size: 0.643em auto;
					-webkit-mask-size: 0.643em auto;
					mask-position: center;
					-webkit-mask-position: center;
				}
			}
		}

		&.lv_sub {
			ul {
				margin-top: 1.2em;
			}

			li {
				margin-left: 1.7em;
				margin-bottom: .68em;
				line-height: 1.79;

				&:last-child {
					margin-bottom: 0.1em;
				}



				a {


					&::before {

						border-radius: 50%;
					}
				}
			}
		}
	}

	.nohover>a {
		pointer-events: none;

		&:hover {
			color: inherit;
		}
	}

	a {
		position: relative;
		display: table;
		padding-left: 1.0625em;
		color: inherit;
		font-size: 1.6em;


		text-decoration: none;



		letter-spacing: .2em;

		&::before {
			@include before;
			left: 0;
			top: 0.625em;
			width: 4px;
			height: 4px;
			background-color: #1e5f97;
		}

		&:hover {
			opacity: 1;
			color: var(--main-color);

		}
	}
}


.copyright {
	margin: 0 auto 0;
	color: #fff;
	padding: 27px 0px 33px;
	position: relative;
	z-index: 1;

	.flex {
		align-items: center;
		justify-content: center;
		min-height: 40px;
	}



	&::before {
		position: absolute;
		content: "";
		display: block;
		z-index: -1;
		left: calc(50% - 50vw);
		top: 0;
		height: 100%;
		width: 100vw;
		background-color: #177aad;
	}

	.textwidget {

		display: block;
		margin-top: 4px;
		margin-left: 23px;
		padding-left: 21px;
		padding-top: 0px;
		padding-bottom: 2px;

		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0.1em;
		border-left: 1px solid rgba($color: #fff, $alpha: 1);

		p {
			margin-bottom: 0;

			line-height: inherit;
			letter-spacing: 0.11em;
			font-size: 14px;
			font-feature-settings: "palt";

			.copy {
				font-family: var(--f-en);
			}

			span {
				display: inline-block;
			}
		}
	}

	.grits {
		margin-bottom: 0;
		line-height: 2.501;

		a {
			display: block;
		}

		img {
			max-width: 152px;
		}
	}
}

//end-dattq

//dattq
@media only screen and (min-width: 769px) {
	.copyright .textwidget {
		width: calc(100% - 175px);
		max-width: 790px;

		p {
			span {}
		}
	}
}

@media only screen and (min-width: 1367px) {
	.copyright {
		padding-left: 19px;
	}

	footer {
		.menu01 {
			padding-left: 25px;

		}
	}



	.ft_link {
		.ttl {
			margin-left: -10px;
		}

		.menu01 {
			max-width: 739px;
		}

		.menu02 {
			max-width: 375px;
		}
	}
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
	footer {
		background-image: url(../images/ft_bg01.jpg), url(../images/ft_bg02.jpg);
		background-size: 100% auto, auto 100%;
		background-repeat: no-repeat;
		background-position: top left, bottom right;


	}

	.ft_link {
		font-size: 8.75px;


	}

	.copyright {
		.textwidget {
			p {
				font-size: 13px;
			}
		}
	}
}

@media only screen and (min-width: 769px) and (max-width: 920px) {

	.ft_link {

		font-size: 1.05vw;
		.link_list {
			.menu01 
			{
				width: 60%;
				> ul > li{
					width: 53%;
					&:nth-child(n+9){
						width: 46%;
					}
				}
			}
			.menu02{
				width: 40%;
			}
		}
		a {
			letter-spacing: 0.15em;
		}

	}


}

//end-dattq