/*INTERVIEW PAGE*/
.under {
    counter-reset: count;

    &.page-interview {

        .key {
            max-height: 600px;
            background-image: url(../images/interview_bg.jpg);
            background-repeat: no-repeat;
            background-position: right;
            background-size: cover;
            height: 50vw;

            .key_text {
                display: block;
                font-size: 10px;
                margin-right: auto;
                padding-right: 10px;
                height: auto;

                h2 {
                    text-align: left;
                    position: relative;
                    color: #fff;
                    margin-top: -0.625em;
                    margin-bottom: 0.625em;
                    padding-left: 10px;
                    padding-top: 0;
                    font-size: 4em;
                    font-family: var(--f_lato);
                    line-height: 1;
                    font-weight: 700;
                }
            }

            .en {
                font-size: 8em;
                letter-spacing: 0.15em;
                line-height: 1;
                text-transform: uppercase;
                font-weight: 600;
                color: #fff;
                margin: 0;
                opacity: 0.25;

            }

            .inter_name {
                display: flex;
                align-items: flex-end;
                color: #fff;
                line-height: 1;
                padding-bottom: 1.1875em;
                margin-bottom: 1em;
                padding-left: .5em;
                font-weight: 700;
                font-family: var(--f_zen);
                font-size: 2em;

                &01 {
                    display: inline-block;
                    font-size: 1.25em;
                    letter-spacing: 0.2em;
                    position: relative;

                }

                &02 {
                    font-size: 2em;
                    letter-spacing: 0.1em;
                    padding: 0 5px;
                }

                &03 {
                    display: inline-block;
                    font-size: 0.8em;
                    letter-spacing: 0.15em;
                    position: relative;

                    opacity: 1;
                    font-weight: 400;
                }

            }

            .inner {
                max-width: 1280px;
                display: flex;
                align-items: center;
            }


            h2,
            p {
                display: table;
                color: #fff;
                letter-spacing: 0.1em;
                font-weight: 700;
            }



        }

        #mainContent {
            .inner {
                max-width: 1056px;
            }
        }
    }


}

.interview {
    &_catch {
        --main-color: #50b9d0;
        background-color: #fff;
        border-radius: 30px;
        border: 1px solid var(--main-color);
        box-shadow: 0px 0px 20px 0px rgba(36, 33, 29, 0.15);

        p {
            font-size: 30px;
            line-height: 1.5;
            text-align: center;
            font-weight: 500;
            color: var(--main-color);
            padding: 40px 10px;
        }


    }

    &_sec {
        margin-top: 80px;
    }

    &_box {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        --size-mg: 60px;

        &.box_left {

            .interview_content {
                margin-left: var(--size-mg);
            }
        }

        &.box_right {
            flex-direction: row-reverse;

            .interview_content {
                margin-right: var(--size-mg);
            }
        }
    }

    &_img {
        position: relative;
        display: block;
        width: 51%;

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        &:before {
            content: counter(count, decimal-leading-zero);
            counter-increment: count;

            position: absolute;
            bottom: -0.1em;
            left: 40px;
            font-family: "Libre Baskerville", serif;
            line-height: 0.5;
            font-size: 120px;
            color: #f8be27;
        }
    }

    &_content {
        max-width: 538px;
        width: calc(49% - var(--size-mg));

        h4 {}
    }
}

@media only screen and (min-width: 1367px) {
    .under.page-interview .key .key_text {
        padding-left: 20%;
    }
}

@media only screen and (max-width: 1366px) and (min-width: 1000px) {
    .under.page-interview .key .key_text {
        padding-left: 10%;
    }
}

@media only screen and (max-width: 1366px) and (min-width: 769px) {
    .under.page-interview .key {
        background-position: right 27% top;
    }

}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
    .under {

        &.page-short-interview,
        &.page-interview {
            .key {
                .key_text {}

                h2 {
                    margin-bottom: 35px;

                    .en {
                        font-size: 55px;
                    }

                    .jp {
                        font-size: 22px;
                    }
                }

                p {
                    font-size: 26px;
                }

                .interview_name {
                    .name {
                        &_txt {
                            font-size: 22px;
                        }

                        &_jp {
                            font-size: 28px;
                        }

                        &_en {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        &.page-interview {
            .key {
                h2 {
                    .en {
                        font-size: 65px;
                    }
                }
            }
        }
    }

    .interview {
        &_box {
            --size-mg: 40px;

            &.box_right {
                flex-direction: row-reverse;
            }
        }

        &_content {

            h4 {
                font-size: 24px;
            }
        }

        &_img {
            &:before {
                font-size: 90px;
            }
        }
    }
}

@media only screen and (max-width: 1020px) and (min-width: 769px) {
    .under.page-interview {
        .key {
            .key_text {
                padding-top: 10%;
                padding-left: 5%;
                font-size: 1vw;
            }
        }
    }

    .interview_content h4 {
        font-size: 22px;
    }
}

@media only screen and (min-width: 769px) {
    .interview {
        // &_box {
        //     &.box_left {


        //         .interview_img {
        //             img {
        //                 margin-left: 0;
        //             }
        //         }

        //     }

        //     &.box_right {


        //         .interview_img {
        //             img {
        //                 margin-right: 0;
        //             }
        //         }
        //     }
        // }
    }
}