@media only screen and (max-width: 768px) {
    @-webkit-keyframes idx_key {
        from {
            background-position: 0px center;
        }
    
        to {
            background-position: -1202px center;
        }
    }
    
    @keyframes idx_key {
        from {
            background-position: 0px center;
        }
    
        to {
            background-position: -1202px center;
        }
    }
    .home_page {
        .key {
            height: calc(100vh - 60px);
            max-height: 156vw;
            min-height: 320px;
            font-size: 8.75px;
            background-image: url(../images/idx_mv01_sp.jpg);

            .key_text {


                .item {
                    padding: 10px;
                    padding-left: calc(8em + 10px);
                    height: calc(100vh - 60px);
                    max-height: 156vw;
                    min-height: 320px;
                }
            }

            .catch h2::before {
                width: 2em;
                height: 2em;
            }

       

            .key_copy {
                height: 100%;

                .scroll a {
                    font-size: 0.6em;
                }
            }

        }
    }
}

@media only screen and (max-width: 640px) {
    .home_page .key {
        font-size: 1.15vmin;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .home_page .key {
        font-size: 1.15vmin;
    }
}

// End Index Key Visual
@media only screen and (max-width: 768px) {
    .home_page {
        h3 {
            margin-bottom: 30px;
            font-size: calc(var(--ttl_size) + 2px);
            &.sm{
                font-size: calc(var(--ttl_size) + 0px); 
                span{
                    display: inline-block;

                }
                .en{
                    display: block;
                }
            }
        }
    }
}



// End Index General



@media only screen and (max-width: 768px) {
    :root {
        --fz18: 1.125em;
    }


    .index01 {

        padding: 0px 0px;

        .content {
            flex-direction: column;
            align-items: center;

            .box {
                margin-bottom: 0px;
                width: 100%;
                padding: 40px 5%;


            }
            h3{
                max-width: 70%;
                margin-bottom: 20px;
            }

            .btn-group {
                max-width: 100px;
                width: 44%;
            }

            li {
                max-width: 100%;

                a {
                    padding: 20px 0;

                    .date {
                        width: 8em;
                    }

                    .title {
                        width: calc(100% - 8em);
                    }
                }
            }


        }
    }

    .index02 {
        background: none;
        padding: 0;

        .box {
            width: 100%;
            margin: 0px auto 40px;
        }

        >.flex {
            background-repeat: no-repeat;
            background-image: url(../images/idx02_bg_sp.jpg);
            background-position: top 40px center;
            background-size: cover;
            padding-bottom: 60px;
        }

        .box_head {
          
            background-size: cover;
            background-image: url(../images/idx02_bg1_sp.jpg);
            &.line::before{
                left: -247px;
            }
.inner_big{
    padding-top: 55px;
padding-bottom: 0;
}
            h3 {
                .en {
                    left: 0;
                    width: 100%;
                    text-align: center;
                }
            }

            &.line::before {
                top: 0;
                height: 100%;

                mask-position: top center;
                -webkit-mask-position: top center;
            }

            picture {
                padding-bottom: 80px;

                &::before {
                    height: 100%;
                    right: -247px;
                }
            }

            h3 {
                padding-top: 0;
                position: relative;
                z-index: 3;
                font-size: 26px;
                text-align: center;
                margin-left: auto;
                margin-bottom: 20px;

                .en {
                    margin-top: 0;
                }
            }
        }

        .content {
            picture {
              
            }
        }

        .flex {
            margin-top: -40px;
        }

        h4 {
            font-size: 20px;
        }

        .text {
            padding: 20px 5px;
        }

    }

    .btn-group {
        width: 100%;

        .btn {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .index03 {
        padding: 60px 0px;

        .flex {
            padding-top: 100px;
            flex-direction: column-reverse;
            position: relative;
            max-width: 624px;
            margin: auto;
        }

        h3 {
            position: absolute;
            left: 0;
            top: 0;
        }


        .box_right {
            width: 100%;
            max-width: 624px;
            .box_img {
                margin: 0px auto 20px;
                padding: 0px 20px 20px;
            }
        }
    }

    .idx_bg::before {
        font-size: 1vw;
    }

    .index04 {
        padding: 55px 0px 60px;
        background-image: url(../images/idx04_bg_sp.jpg);
h3{
    span{
        display: inline-block;
    }
}
        p.white {
            font-size: 18px;
        }

        .btn-group .btn.style01 {
            font-size: 8px;
            span{
                display: inline-block;
            }
        }
    }

    .index05 {
        padding: 60px 0px;

        .TabContainer .TabContent .flex {
            margin: 30px -1vw 40px;

        }

        .TabContainer .TabPager li {
            padding: 10px 5px;

            p {
                margin-left: auto;
                margin-right: auto;

                span {
                    display: inline-block;
                }

                .en {
                    display: block;
                }
            }
        }

        .box {
            width: calc(50% - 2vw);
            margin: 20px 1vw 0;
            font-size: 8px;
        }
    }

    .index06 {

        padding: 55vw 0px 60px;
        &::before{
            background-image: url(../images/idx06_bg_sp.jpg);
            background-position: top center;
            height: 65vw;
        }

        .box_text {
            width: 100%;
            padding: 50px 4% 50px;
            max-width: 624px;
            margin-left: auto;
            margin-right: auto;

            .txt {
                margin-bottom: 30px;

                p {
                    line-height: 2;
                }
            }
        }

        .bot {
            .box_name {
                font-size: 8px;
            }

            .btn-group {
                margin-top: 25px;
                order: 2;
            }
        }
    }

    .index07 {
        background-color: #fafafa;
        padding: 65vw 0px 95vw;
        background-image: url(../images/idx07_bg_sp1.jpg), url(../images/idx07_bg_sp2.jpg);
        background-size: 100% auto;
        background-position: top 0px center, bottom center;

        h3.t_center span {
            font-size: calc(var(--ttl_size) + 0px);
        }

        .text p {
            font-size: 16px;
            line-height: 2;
        }
    }

    .index08 {
        padding: 60px 0px;
        background-image: url(../images/idx08_bg_sp.jpg);

        h3 {
            margin-bottom: 20px;
        }

        .box {
            margin: 20px auto 0;
            max-width: 100%;
            padding: 30px 10px;
            font-size: 10px;
        }

        .text {
            font-size: 14px;
        }

        .tel_click span {
            font-size: 4.6em;
        }

        .contact span {
            font-size: 3.2em;
        }
    }

    .index09 {
        .box_left {
            width: 100%;
            height: 71vw;
        }

        .box_right {
            padding: 50px 10px 40px;
            width: 100%;
            max-width: 400px;
            margin: 0px auto;

            .ft_logo {
                max-width: 400px;
            }

            ul {
                margin: 40px auto 0;
                width: 100%;
            }

            .tt {
                width: 7em;
            }

            .text {
                width: calc(100% - 7em);
            }

            li {
                margin-top: 20px;
            }
        }
    }

    .index10 {
        padding: 20px 0px 60px;
        background-image: url(../images/idx10_bg_sp.jpg);

        .box {
            margin: 40px auto 0;
            width: 100%;
        }

        h4 {
            font-size: 24px;
        }
    }

    .index11 {
        padding: 60px 0px;

        .flex .box {
            max-width: 285px;
            margin: 10px 5px 0px;
        }
    }
}



@media only screen and (max-width: 639px) {

    .idx_en {
        font-size: 10vw;
        right: -0.5vw;
        top: 0.18vw;
    }

}

@media only screen and (max-width: 425px) {
    .index08 .text{
  
    }
}
@media only screen and (max-width: 425px) {
    .index02 .box_head h3 {
        font-size: 5.6vw;
    }

    .index05 .box {
        font-size: 1.6vw;
    }

    .TabContainer .TabPager li {
        font-size: 3.4vw;

    }

    .index08 .box {
        font-size: 1.8vw;
        .text p{
            font-size: 14px;
        }
    }

    .bnr {
        &.st2 {
            font-size: 2vw;
        }
    }
}

@media only screen and (max-width: 375px) {
    .index01 .content .box {
        padding: 40px 10px;
    }
}


@media only screen and (max-width: 768px) {
    .idx_gallery {


        ul {
            li {
                .img {
                    width: 225px;
                    height: 500px;
                    background-size: 100% auto;
                }
            }
        }
    }
}