@media only screen and (max-width: 768px) {
	.under {
		#mainContent {
			padding-bottom: 30px;

			&:before {
				clip-path: circle(200px at 50% -3.1vw);
			}
		}

		.key {
			background-image: url(../images/und_key_bg_sp.jpg);
			background-size: cover;
			margin-top: 0;
			height: 200px;

			.key_text {
				padding: 10px;
			}

			h2 {

				font-size: var(--ttl_size);
			}
		}

		h3 {
			margin-bottom: 25px;
			font-size: calc(var(--ttl_size) - 2px);

		}

		h4 {
			margin-bottom: 20px;
			font-size: calc(var(--ttl_size) - 4px);
		}

		h5 {
			margin-bottom: 15px;
			font-size: calc(var(--ttl_size) - 6px);
		}

		h6 {
			margin-top: 20px;
			margin-bottom: 10px;
			font-size: calc(var(--ttl_size) - 8px);
		}
	}
}



@media only screen and (max-width: 768px) {
	.under {
		.inner>section {
			&:first-child {
				>h3 {
					margin-top: 35px;
				}
			}
		}

		.section,
		section {
			p:not(.btn) {
				line-height: 2;
			}
		}

		section {
			padding-top: 1px;

			h3 {
				margin-top: 50px;
			}
		}

		.secH4 {
			padding-top: 40px;
		}

		.secH5 {
			padding-top: 30px;
		}


		.imgBox {
			&.rowImg {

				.image_l,
				.image_r {
					float: none;
					width: auto;
					margin: 0 0 20px;
					text-align: center;
					max-width: none;

					&:nth-child(n) {
						max-width: none;
					}
				}

				.txt_l,
				.txt_r {
					float: none;
					width: auto;
				}

				&.large {

					.image_l,
					.image_r {
						max-width: none;
					}

					.txt_l,
					.txt_r {
						width: auto;
					}
				}
			}

			&.colImg {
				.item {
					&:not(:last-of-type) {
						margin-bottom: 30px;
					}
				}

				figure {
					margin-bottom: 15px;
				}

				.text {
					font-size: 14px;
				}
			}

			&.colImg2,
			&.colImg3 {
				.item {
					width: 100%;
				}

				img {
					max-height: 100%;
				}
			}
		}

		.acf_block {
			h3 {
				margin-bottom: 0;
			}

			.text_h3 {
				margin: 25px 0 0;
			}

			.text_h4 {
				margin: 20px 0 0;
			}

			.text_h5 {
				margin: 15px 0 0;
			}
		}

		.clinic_tbl02 {
			@include iOS() {
				td {
					border-top-width: 0;
				}
			}

			th:first-child {
				width: 200px;
			}
		}

		table {
			&.rollTable {
				width: 768px;
				th {
					max-width: 60vw;
				}
			}

			&.tbl_style01 {
				th {}

				td {}

				@include iOS() {
					tr:last-child td {
						border-bottom-width: 1.4px;
					}
				}
			}

			&.resTable {
				display: block;

				tbody,
				tr,
				th,
				td {
					display: block;
				}

				td {
					&:not(:last-child) {
						border-bottom: 0;
					}
				}

				&.tbl_style01 {
					&.colHead {
						tr {
							th {
								border: 1px solid var(--main-color);
								border-bottom: none;
							}

							&:not(:first-child) {
								th {
									border-top: none;
								}
							}
						}
					}
				}

				&.tbl_style02 {

					&.colHead {
						th {
							border-bottom: none;
						}

						tr:not(:last-child) {
							td {
								border-bottom: none;
							}
						}
					}
				}
			}
		}

		.tbl_note {
			display: block;
		}

		ul {

			&.list01,
			&.list03 {
				li {
					line-height: 2;
				}
			}
		}

		ul.list01 {
			&.style_box li {
				&:before {
					top: .4em;
				}

				&:after {
					top: .5em;
				}
			}

			&.mcol-2,
			&.mcol-3 {
				li {
					width: 100%;
					padding-bottom: 9px;
					padding-right: 0;
				}
			}

			li {
				&:before {
					top: .6em;
					width: 10px;
					height: 10px;
				}
			}
		}


		.lawyer_box {
			padding: 0vw;
			margin-bottom: 25px;

			.lawyer_name {
				bottom: 2vw;
				right: 2vw;
				font-size: 4vw;
			}
		}
	}

	//und_feature
	.under {

		.box,
		.box.style01 {
			font-size: 8px;
			margin-top: calc(var(--h-shape) + 50px);

			.txt {

				>p {
					font-size: 14px;
				}
			}
		}
	}

	//und_faq 
	.under {
		.und_faq {
			.box_q {
				.plus_ico {
					--size-ico: 15px;
				}

				h4 {
					&:after {
						width: 30%;
					}
				}
			}

			.box_a {
				padding: 30px;
			}
		}
	}

	.mt_rps {
		margin-top: 50px;
	}

	.txt-big {
		font-size: 22px;
	}

	.txt_ms {
		margin-bottom: 10px;
		font-size: 20px !important;
		text-align: center;

		&.t_left {
			text-align: left;
		}
	}

	.under .box_ct {
		padding: 20px;

		&.style_ico {
			--size-ico: 30px;
		}
	}

	.under .und_bn_gr {
		flex-direction: column;
		>div {
			width: 100%;

			&:not(:last-child) {
				margin-bottom: 0;
			}
		}
	}

	.under {
		.und_flow {

			.box_ct p,
			.list01 li {
				font-size: 14px;
			}

			figure {
				margin-bottom: 40px;
			}

		}

		.flex_und.mcol-2 {
			>:nth-child(n) {
				width: 100%;
			}

			&.img_right {
				flex-direction: column-reverse;
			}
		}

		.und_voice {
			margin: 30px auto;
		}

		.box_voice {
			margin-bottom: 40px;
		}

		//card_lawyer
		.card_lawyer {
			width: calc(100% /2 - var(--size-space));
			margin-top: var(--size-space);

			picture {
				margin-bottom: 20px;

				img {
					max-height: 200px;
				}
			}

			p {

				&.title {
					font-size: 22px;
				}

				&.name {
					font-size: 20px;
					margin-bottom: 20px;
				}
			}
		}


		.imgBox.colImg1 .item .slide_img {
			figure {
				width: 768px;
			}
		}
	}

	.under .imgBox .rowImg {
		.txt_ms {
			text-align: center;
		}
	}

}

@media only screen and (max-width: 768px) {

	//und_faq
	.under .und_faq {
		.box_a {
			display: block;

			picture {
				margin-left: auto;
				margin-right: auto;
			}

			p {
				width: 100%;
				padding-left: 0;
				padding-top: 25px;
			}
		}

		.box_noneimg {
			.box_a {
				p {
					padding-top: 0;
				}
			}
		}

	}
	.under .btn-group .btn.style01 {
		min-width: 280px;
		max-width: 300px;

	}
.under .und_bn_gr {
		>div {
			width: 100%;
			max-width: 320px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

@media only screen and (max-width: 660px) {
	.under .youtube {
		padding-bottom: 45.25%;
		padding-top: 34px;
	}
}


@media only screen and (max-width: 639px) {
	.under {
		.und_flow {

			.box_container {
				font-size: 8px;


				.design_arr {
					bottom: -21px;

					.arr_sc:after {
						left: .5em;
					}
				}
			}
		}



		

		//und_fee
		.und_fee {
			--size-sp-fee: 68px;
		}

		.fee_card {
			width: calc(100%/3 - var(--size-sp-fee));
			margin-top: calc(var(--size-sp-fee));

			&:after {
				right: calc(var(--size-sp-fee) / -1.45);
				top: calc(50% - var(--size-sp-fee) / 3);

				border: calc(var(--size-sp-fee) / 3) solid transparent;
				border-right: none;
				border-left-color: var(--bl-cl);

			}

			.card_num {}

			.card_ct {}
		}
	}
}

@media only screen and (max-width: 580px) {

	.under .card_lawyer {
		width: 100%;
		margin-top: 40px;
	}
}


@media only screen and (max-width: 520px) {
	.under .und_fee {
		--size-sp-fee: 9vw;
	}
}

@media only screen and (max-width: 450px) {
	.under {
		#mainContent {
			&:before {
				clip-path: circle(150px at 50% -3.1vw);
			}
		}

		.box {
			--h-shape: 20px;

			&:before,
			&:after {
				width: 40%;
			}

			.txt {
				padding: 30px 30px 50px;
			}
		}

		.und_flow {

			.box_container {
				font-size: 6px;

				.design_arr {
					bottom: -17px;
				}
			}

			.box_container:not(:first-child) {
				margin-top: 60px;
			}
		}

		.und_faq .box_q {
			h4 {
				&:after {
					width: 50%;
				}
			}
		}

		.und_faq .box_a p {
			padding-top: 15px;
		}

		.und_faq .box_a {
			padding: 20px;
		}

	}
}

@media only screen and (max-width: 375px) {
	.under {
		.imgBox {

			&.colImg2,
			&.colImg3 {
				.item {
					width: 100%;
				}
			}
		}

		.und_flow {
			.box_container {
				font-size: 3.5px;

				.design_arr {
					bottom: -11px;
				}

				.design_arr .arr_f:after {
					left: 1.7em;
				}

				&:not(:first-child) {
					margin-top: 40px;
				}
			}



		}

		.mt_rps {
			margin-top: 30px;
		}

		.und_fee {
			--size-sp-fee: 0;
		}

		.fee_card {
			align-items: center;
			flex-direction: row;
			width: 100%;
			max-width: 100%;



			&:not(:first-child) {
				margin-top: 40px;
			}

			&:after {
				right: calc(50% - 15px);
				bottom: -30px;
				border: 15px solid transparent;
				border-bottom: none;
				border-top-color: var(--bl-cl);
			}

			.card_num {
				margin-bottom: 0;
				margin-left: 0;
			}

			.card_ct {
				width: calc(100% - 32px);
				justify-content: flex-start;
				padding-left: 15px;

				p {
					writing-mode: horizontal-tb;
					font-size: 18px;

					br {
						display: none;
					}
				}
			}
		}
	}

	.under .youtube {
		width: 108%;
	}

	.txt-big {
		font-size: 20px;
	}

	.txt_attend {
		font-size: 18px;
	}

	.under table.tbl_style01 th {
		font-size: 14px;
	}

	.under ul.list01 li {
		font-size: 14px;
	}



	.under .box_ct.style_ico {
		--size-ico: 25px;
	}

	.under .box .txt p:not(.btn) {
		font-size: 14px;
	}
}

// End Under General


@media only screen and (max-width: 768px) {
	.under {
		.clinic_tbl01 {
			th {
				width: auto;
				min-width: 120px;
				text-align: left;
			}
		}

		.teeth_box {
			.secH4 {
				width: 100%;
			}
		}
	}
}

@include screen('max425') {
	.under {

		.access_box_img01,
		.access_box_img02 {
			.block {
				&:nth-child(even) {
					.big {
						order: 0;
					}
				}

				.big,
				.small {
					width: 100%;
				}
			}
		}
	}
}